@import "../../../../assets/styles/auth-form";

.signup {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-image {
      margin-right: 26px;

      img {

      }
    }
  }
}
